<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        /* Adjust styles as needed */
        .form-group {
            margin-bottom: 1rem;
        
        }
        body {
            padding-top: 200px; /* Adjust the value as needed */
            
        }
        
    </style>
</head>
<body>
    <div class="container vh-100">
        
        <h1>Text Classificaion</h1>
        <form action="/" method="post">
            <div class="form-group">
                <label for="message">Your Message:</label>
                <textarea class="form-control" id="message" name="message" rows="4" cols="50">{{ message }}</textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary" onclick="clearForm()">Clear</button>
            </div>
        </form>
        {% if prediction %}
        <div class="form-group">
            <label for="prediction">Prediction:</label>
            <textarea class="form-control" id="prediction" name="prediction" rows="1" readonly>{{ prediction }}</textarea>
        </div>
        {% endif %}
    </div>

    <!-- Bootstrap JS (Optional, if you need dropdowns, modals, etc.) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        function clearForm() {
            document.getElementById("message").value = "";
            document.getElementById("prediction").value = "";
            window.location.href = "/?clear=true";
        }
    </script>
</body>
</html>
